name: test

on:
  pull_request:
    paths:
      - '**.go'
      - 'go.*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: set up
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17
      - uses: actions/checkout@v2
      - run: go test ./...
