name: test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  paths-filter:
    outputs:
      changes: ${{ steps.changes.outputs.src }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - '**.go'
              - 'go.*'
              - .github/workflows/test.yml

  status-check:
    runs-on: ubuntu-latest
    needs:
      - test
    permissions: {}
    if: failure()
    steps:
      - run: exit 1

  test:
    needs: paths-filter
    if: needs.paths-filter.outputs.changes == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: test
        run: go test -coverprofile="coverage.txt" -covermode=atomic ./...

      - name: codecov
        uses: codecov/codecov-action@v4
